#homecontent {

    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/static/img/winebackground.jpg");
    height: 100vh
    
}
.navbar{
    margin-bottom: 0 !important;
    border: 0 !important;
    }
/*
 .navbar-default {
    background-color: #222;
    border-color: #080808;  
  } */
 
/* #homecontent {
    position: relative;
}
#homecontent::after {
    content: "";
    background-image: url("/static/img/winebarrel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1000;   
  } */
  
  