{% extends "index.html" %}
{% block title %}Documentation{% endblock %}
{% block styles %}
{{super()}}
{% endblock %}

{% block content %}

<h4>Tables Persisted</h4>
<ul>
<li><b>vinpac1:</b> Stores the raw data that is uploaded via CSV. </li>
<li><b>vinpaccleaned:</b> Stores the cleaned data.</li>
<li><b>machine_status_change:</b> Stores the status change along with the duration it has been in that status for each machine.</li>
<li><b>machinestoppagechange:</b> Groups and sums the data from machine_status_change based on the machine and its status. (used in visualisation) </li>
<li><b>machinedetailsfillerstoppage:</b> Stores the stoppage details – the number of status changed and the duration of that state for all machines in each Filler stopped states. </li>
<li><b>machdetfillerstoppageeachday:</b> Groups the data from machinedetailsfillerstoppage based on the date for all machines in each Filler stopped states.</li>
<li><b>machstoppageforfilleralldays:</b> Stores the data from machdetfillerstoppageeachday in a time-series type after imputing values for the missing days as 0.(used in dashboard) </li>
<li><b>mba_filler_changed:</b> Stores the data prepared for association analysis.</li>
<li><b>mba_all_results:</b> Stores all the rules obtained after performing association analysis using apriori with a confidence of 50%. </li>
<li><b>mba_filler_all_results:</b> Stores all the rules for Filler machine’s stopped states which is filtered from the rules in the mba_all_results. </li>
<li><b>state4_state5_results:</b> Stores the rules for all machines’ Faulted and Unallocated stoppage states. </li>
<li><b>mba_final_results:</b> Stores the final association results after performing backtracking to find the main responsible machine causing the Filler to stop. </li>
<li><b>updateddetails:</b> Stores the file upload date along with the date range in the file.</li>
</ul>
<hr>
<h4>Resources</h4>
<ul>
        <li><a href="https://github.com/yaseswinik/Vinpac_WebApp" >Code for Tool</a></li>
        <li><a href="https://github.com/yaseswinik/Vinpac_Dashboard">Code for Dashboard</a></li>
        <li><a href="https://hub.docker.com/r/yases95/capstone">Docker Container</a></li>
</ul>
<hr>


{% endblock %}