<!-- Here we use bootstrap extension for our navigation Bar -->
{% extends "bootstrap/base.html" %}
<!-- {% block styles%}
{{super()}}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %} -->

<!----------------------------------------------------------------->
<!------------------      Nav bar start  -------------------------->
<!----------------------------------------------------------------->
{% block navbar %}
{{nav.top.render()}}
{% endblock %}
<!----------------------------------------------------------------->
<!------------------      Nav bar end  -------------------------->
<!----------------------------------------------------------------->
